body {
  background-color: rgb(47, 63, 109);
  color: rgb(136, 185, 250);
  font-family: Verdana, Helvetica, sans-serif;
  
}

h1, h3 {
  color:rgb(221, 211, 70)
}

li a, a {
  color:rgb(136, 185, 250)
}